body {
  font-family: "Roboto", sans-serif;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  width: 300px;
  margin-bottom: 10px;
  color: white;
}

#error {
  color: red;
  grid-column: 1/3;
  height: 1em;
}

#add-book {
  border: none;
  border-radius: 6px;
  padding: 8px;
  width: 100px;
  color: white;
  background-color: rgb(161, 85, 208);
}

#add-book:hover {
  cursor: pointer;
}

#library-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  background-color: white;
}

.close-btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.close-btn {
  border: none;
  border-radius: 3px;
  margin-top: 0.4em;
  margin-right: 0.4em;
  background-color: rgb(241, 126, 126);
}

.close-btn:hover {
  cursor: pointer;
}

.card-header {
  margin: 0;
}

.read-btn {
  border: none;
  height: 100px;
}

.read-btn:hover {
  cursor: pointer;
}

.read {
  background-color: darkseagreen;
}

.not-read {
  background-color: rgb(241, 126, 126);
}
